<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-fill">
            <li class="nav-item active">
                <a class="navbar-brand nav-link" href="/">Logo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listen" >
                    Listen
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/learn" >
                    Learn
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tools" >
                    Tools
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/explore" >
                    Explore
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resources" >
                    Resources
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog" >
                    Blog
                </a>
            </li>
    </div>
    </div>
</nav>
